{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-3 pr-4 dont-move">
            
            

            <div class="d-md-none mt-2">
                
                
   
                
                <!-- <form>
                  <input type="text" name=""> 
                </form>  -->
                <form action="{% url 'search' %}" method="post" class="mb-4">
                {% csrf_token %}
                <div class="search-container" style="margin-left: auto; margin-right: auto;" >
                    <div class="search">
                    <input required name="search" type="text" id="zip-code-input" placeholder="Search">
                    <button type="submit" style="border:0; background: transparent;"><i class="fa fa-search"></i> </button> </a>
                    </div>
                </div>
                </form>
            </div>

            <div class="d-none d-lg-block">

            <div style="" class="mt-0">
                <a href="/"><img class="img-fluid" src="{% static 'blog/logo3.png' %}" style="width: 150px; margin-left: 50px;"></a><br>
   
            </div>

            <div class="profile-section" style="width: auto;">
            <h3 class="white-important p-2">
                Profile
            </h3>
            
            <article class="media content-section" style="height: 140px; width: 100%">
                {%  if user_profile != None %}
                
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3 img-fluid"
                           style="width: 90px; height: 90px;"
                           src="{{ user_profile.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user_profile.username }}
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                <!-- {{ user.email }} -->
                               0541752049
                            </h6>

                        </div>                    
                    </div>
                
                {%  else %}
                    <div class="mt-2 d-flex full-width align-items-center">
                        <img
                           class="rounded-circle mr-3"
                           style="width: 90px; height: 90px;"
                           src="{{ user.profile.image.url }}">
                        <div>
                            <h4 style="text-align: left"
                                    class="white-important">
                                {{ user.username }}
                            </h4>
                            <h6 style="text-align: left"
                                    class="email-profile">
                                <!-- {{ user.email }} -->
                                0541752049
                            </h6>
                        </div>
                    </div>
                {%  endif %}
            </article>


            <article class="media content-section">
                <div class="row full-width pl-2">
                    <div class="col-6">
                            Followers
                    </div>
                    <div class="col-6">
                            Following
                    </div>
                    {%  if user_profile != None %}
                        <div class="col-6">
                            <h3 class="white-important follow-click">
                                <a href="{% url 'user-followers' user_profile.username %}">
                                    {{ user_profile.profile.followers }}
                                </a>
                            </h3>
                        </div>
                         <div class="col-6">
                            <a href="{% url 'user-follows' user_profile.username %}">
                                <h3 class="white-important follow-click">
                                    {{ user_profile.profile.following }}
                                </h3>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-6">
                            <a href="{% url 'user-followers' user.username %}">
                                <h3 class="white-important follow-click">
                                    {{ user.profile.followers }}
                                </h3>
                            </a>
                        </div>

                        <a href="{% url 'user-follows' user.username %}">
                            <div class="col-6">
                                <h3 class="white-important follow-click">
                                    {{ user.profile.following }}
                                </h3>
                            </div>
                        </a>
                    {%  endif %}
                </div>
            </article>
            
            <div class="d-flex">
                {% if user_profile is None %}
                <div style="margin-left: auto; margin-right: auto;">
                    <a class="btn btn-sm btn-outline-primary mb-4 mr-3 pt-2 pb-2 pr-3 pl-3 " href="{% url 'post-create' %}">
                        Tweet
                    </a>
                </div>
                {% endif %}
                {%  if user_profile is not None and user_profile.id != user.id  and user.username != '' %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <button style="margin-left: 18px" class="btn btn-sm btn-outline-primary"
                                    name="{% if can_follow %}follow{% else %}unfollow{% endif %}"
                                    type="submit">
                                 {% if can_follow %}
                                     FOLLOW
                                 {% else %}
                                     UNFOLLOW
                                 {% endif %}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 scrollable" >
        <div class="full-width row">
    {% comment %} Main div {% endcomment %}

    {% block maindiv %}


    {% endblock maindiv %}
        </div>
    </div>


    

        <div class="col-12 col-md-3 dont-move">
            <div class="d-none d-lg-block">
            <form action="{% url 'search' %}" method="post">{% csrf_token %}
                <div class="search-container">
                    <div class="search">
                    <input required name="search" type="text" id="zip-code-input" placeholder="Search Twitter">
                    <button type="submit" style="border:0; background: transparent;"><i class="fa fa-search"></i> </button> </a>
                    
                </div>
                </form>


              </div>
            </div>
            <div class="d-none d-lg-block">
            <h3 class="white-important mb-3 mt-4"> Trends </h3>
               
                {%  if user_profile is None %}
                
                <article class="t-section media content-section">
                     
                    <div class="row ">
                        <div class="col-12">
                            <h3>Who to follow</h3>
                        </div>
                        <ul class="col-12 mt-2">
                            {% for user in all_users %}
                                <li>
                                    <div class="who-to-follow">
                                    
                                        <div
                                               style="padding-left: 0px !important;"
                                               class="col-8 no-padding d-flex align-items-center">
                                           <img
                                               class="rounded-circle mr-2"
                                               style="width: 20px; height: 20px;"
                                               src="{{ user.profile.image.url }}">
                                           <a class="mr-2 white-important" href="{% url 'user-posts' user.username %}">
                                               {{ user.username }}
                                           </a>
                                       </div>
                                        <p>{{ user.email }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </article>
                {% endif %}

                <p><a href="">Terms</a>,
<a href="">Privacy policy</a>,
<a href="">Cookies</a>,
<a href="">Ads info</a>,
<a href="">More</a>
© 2020 Twitter, Inc.</p>
                </div>


                
                
            
        </div>
    </div>
{% endblock content %}